

@media only screen and (max-width:786px){
    
    .title{
        font-size:32px;
    }
    
    .head-section font{
        margin-top:25px;
        font-size:64px;
    }
	
	.project-card img{
		width:100%;
		height:auto;
		background-color:black;
	}
	
	.card-img{
		width:100%;
		height:auto;
		
	}
	
	section{
		min-height:30vh;
	}
	
	.dept-card{
		height:auto;
	}
	
	.partner-img{
		max-width: 100%;
		position: relative;
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
    
}